@mixin for-phone-only {
  @media (max-width: 599px) { @content;}
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content;}
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content;}
}


/* ----------- Variables ------------------- */

$navbar-color: #111317;
$background-color: rgb(48, 48, 48);
$text-color: ghostwhite;


/* ---------- Misc. Stylings -------------- */

body {
  background-color: $background-color;
}

/* ----------- NAVBAR STYLINGS ------------- */

.navbar {
  background-color: $navbar-color;
  border-bottom: solid black;
  color: $text-color;
  padding: 1vw 0vw 1vw 1vw;
}

.navbar-game-title {
  margin: 0;
  display: inline-flex;
}

.navbar-menu {

  ul {
    list-style-type: none;
    display: inline-flex;
  }
  
  li {
    padding-right: 2vw;
  }
}

.submenu {

  ul {
    margin: 0;
    display: none;
  }
}

.submenu-menu {
  
  li {
    display: block;

    &:hover {
      color: red;
    }
  }
}


/* ------------ FOOTER --------------- */

.footer{
  position: fixed;
  display: grid;
  grid-gap: 1vw 1vh;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: $navbar-color;
  color: $text-color
}

.footer-logo {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 2vw;
}

.footer-img {

  &:hover {
    background-image: linear-gradient(45deg, #00ccff, #0073e6);
  }
}

.footer-hunt-level {
  grid-column-start: 6;
  grid-column-end: 8;
}

.footer-amazon-games {
  padding-left: 1vw;
  grid-column-start: 1;
  grid-column-end: 2;

  p {
    display: inline-grid;
    padding-right: 1vw;
  }
}

.footer-list-legal {
  grid-column-start: 4;
  grid-column-end: 8;
  text-align: center;
}

.footer-list {
  list-style-type: none;
  li {
    display: inline-grid;
    padding-right: 1vw;
    text-decoration: underline;

    &:hover {
      color: #0073e6;
    }
  }
}

.footer-copyright {
  grid-column-start: 11;
  grid-column-end: 12;
}